@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #008080;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
}
